#login-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-div #login-form-div {
    width: 250px;
}

.error-message {
    color: #B61414;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
}

